.h-full {
  height: 100%
}

.h-1\/2 {
  height: 50%
}

.w-full {
  width: 100%
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem
}

.bg-dark-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(3 42 78 / var(--tw-bg-opacity))
}
